@model BiuroPodrozyCzapeczka.Models.Atrakcja

@{
    ViewBag.Title = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć?</h3>
<div>
    <h4>Atrakcja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaAtrakcji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaAtrakcji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresAtrakcji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresAtrakcji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenaAtrakcji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenaAtrakcji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zwiedzanie.Miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zwiedzanie.Miasto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Powrót", "Index")
        </div>
    }
</div>
