@model BiuroPodrozyCzapeczka.Models.Atrakcja

@{
    ViewBag.Title = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Atrakcja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NazwaAtrakcji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazwaAtrakcji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdresAtrakcji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdresAtrakcji)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CenaAtrakcji)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CenaAtrakcji)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.IdAtrakcji }) |
    @Html.ActionLink("Powrót", "Index")
</p>
