@model IEnumerable<BiuroPodrozyCzapeczka.Models.Placowka>

@{
    ViewBag.Title = "Placówki";
}

<h2>Placówki</h2>

<p>
    @Html.ActionLink("Utwórz nową", "Create")
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Wojewodztwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ulica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IloscPracownikow)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Wojewodztwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ulica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IloscPracownikow)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.IdPlacowki }) |
            @Html.ActionLink("Właściwości", "Details", new { id=item.IdPlacowki }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.IdPlacowki })
        </td>
    </tr>
}

</table>
