@model IEnumerable<BiuroPodrozyCzapeczka.Models.Hotel>

@{
    ViewBag.Title = "Lista hoteli";
}

<h2>Hotele</h2>

<p>
    @Html.ActionLink("Dodaj Hotel", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NazwaHotelu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Panstwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Miasto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adres)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NazwaHotelu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Panstwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Miasto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adres)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.IdHotelu }) |
            @Html.ActionLink("Szczegóły", "Details", new { id=item.IdHotelu }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.IdHotelu })
        </td>
    </tr>
}

</table>
