@model IEnumerable<BiuroPodrozyCzapeczka.Models.WycieczkaHotel>

@{
    ViewBag.Title = "Lista Wycieczek";
}

<h2>Lista Wycieczek</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("ID Wycieczki")
        </th>
        <th>
            @Html.DisplayName("Cena")
        </th>
        <th>
            @Html.DisplayName("Nazwa Hotelu")
        </th>
        <th>
            @Html.DisplayName("Państwo")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.IdWycieczki
            </td>
            <td>
                @item.Cena
            </td>
            <td>
                @item.NazwaHotelu
            </td>
            <td>
                @item.Panstwo
            </td>

        </tr>
    }
</table>
<p>@Html.ActionLink("Powrot do raportów", "Raports", "Index")</p>
</body>
</html>